<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <connectionStrings>
    <add name="KrasnoeBeloeDB" 
         connectionString="Data Source=localhost;Initial Catalog=KrasnoeBeloe;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="CompanyName" value="Красное &amp; Белое" />
    <add key="Version" value="1.0.0" />
    <add key="DefaultDiscount" value="5" />
    <add key="MaxDiscount" value="30" />
    <add key="LogPath" value="C:\Logs\KrasnoeBeloe\" />
  </appSettings>
</configuration>